In [1]:
import pandas as pd
from fastapi import FastAPI
from pydantic import BaseModel

In [2]:
employee_raw_data = pd.read_excel("database\DanhSachThongTinDoanVien.xlsx")
main_data = employee_raw_data.iloc[5:]

In [3]:
mapping_cols = {
    "stt": "Unnamed: 0",
    "maso_doanvien": "Unnamed: 1",
    "hovaten": "Unnamed: 2",
    "ngaysinh_nam": "Unnamed: 3",
    "ngaysinh_nu": "Unnamed: 4",
    "tinh": "Unnamed: 5",
    "matinh": "Unnamed: 6",
    "cmnd": "Unnamed: 7",
    "huongluong_ngansach": "Unnamed: 8",
    "huongluong_ngoaingansach": "Unnamed: 9",
    "khongchuyentrach": "Unnamed: 10",
    "chutich": "Unnamed: 11",
    "phochutich": "Unnamed: 12",
    "uvbch": "Unnamed: 13",
    "totruong": "Unnamed: 14",
    "topho": "Unnamed: 15",
    "cb_cdcs": "Unnamed: 16",
    "vuvbkt": "Unnamed: 17",
    "ngayvao_congdoan": "Unnamed: 18",
    "Unnamed_19": "Unnamed: 19",
    "Unnamed_20": "Unnamed: 20",
    "Unnamed_21": "Unnamed: 21",
    "Unnamed_22": "Unnamed: 22",
    "nguyenquan_tinh": "Unnamed: 23",
    "nguyenquan_matinh": "Unnamed: 24",
}

In [4]:
mapping_cols["matinh"]
main_data[main_data[mapping_cols["matinh"]] == 60]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
56,52,000005178129,Lê Nguyễn Duy Hằng,NaN,12/04/1981,Bến Tre,60,321109267,NaN,NaN,...,NaN,NaN,NaN,01/01/2003,NaN,NaN,NaN,NaN,Vĩnh Phúc,77
64,60,000005178150,Nguyễn Hoàng Tú,03/09/1988,NaN,Bến Tre,60,321369523,NaN,NaN,...,NaN,NaN,NaN,22/10/2013,NaN,NaN,NaN,NaN,Hà Tĩnh,85
72,68,000005178525,Mai Văn Thanh Tâm,01/03/1988,NaN,Bến Tre,60,083088014280,NaN,NaN,...,NaN,NaN,NaN,01/04/2011,NaN,NaN,NaN,NaN,Thái Lan,143
102,98,000005178375,Võ Thành Long,24/04/1974,NaN,Bến Tre,60,022738938,NaN,NaN,...,NaN,NaN,NaN,01/01/2015,NaN,NaN,NaN,NaN,NaN,NaN
130,126,000005178247,Nguyễn Thị Mỹ Hồng,NaN,12/12/1967,Bến Tre,60,001167018691,NaN,NaN,...,NaN,NaN,NaN,01/01/1991,NaN,NaN,NaN,NaN,NaN,NaN
267,263,000005178486,Nguyễn Thị Hoàng Lan,NaN,09/10/1984,Bến Tre,60,083184001100,NaN,NaN,...,NaN,NaN,NaN,01/12/2007,NaN,NaN,NaN,NaN,NaN,NaN
312,308,000005180362,Trần Thị Thu Vân,NaN,05/07/1972,Bến Tre,60,008317200162,NaN,NaN,...,NaN,NaN,NaN,07/04/2011,NaN,NaN,NaN,NaN,NaN,NaN
325,321,000005180390,Nguyễn Thị Anh Thương,NaN,05/06/1997,Bến Tre,60,083197012364,NaN,NaN,...,NaN,NaN,NaN,01/01/2021,NaN,NaN,NaN,NaN,NaN,NaN
346,342,000005178311,Đoàn Thị Kim Oanh,NaN,25/02/1996,Bến Tre,60,083190010491,NaN,NaN,...,NaN,NaN,NaN,10/01/2019,NaN,NaN,NaN,NaN,NaN,NaN
352,348,000005178378,Nguyễn Hoàng Nam,04/04/1971,NaN,Bến Tre,60,001071048535,NaN,NaN,...,NaN,NaN,NaN,01/01/1998,NaN,NaN,NaN,NaN,NaN,NaN
378,374,000005178142,Nguyễn Thanh Thản,25/12/1986,NaN,Bến Tre,60,083086017668,NaN,NaN,...,NaN,NaN,NaN,01/01/2008,NaN,NaN,NaN,NaN,NaN,NaN
390,386,000005178335,Trương Văn Nhân,01/03/1981,NaN,Bến Tre,60,083081007889,NaN,NaN,...,NaN,NaN,NaN,01/01/2003,NaN,NaN,NaN,NaN,NaN,NaN
449,445,000006650149,Nguyễn Hửu Ngọc,19/10/1990,NaN,Bến Tre,60,321394757,NaN,NaN,...,NaN,NaN,NaN,26/10/2022,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
main_data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
5,1,000005178473,Trần Văn Dần,10/01/1963,NaN,Nam Định,14,020638174,NaN,NaN,...,NaN,NaN,NaN,01/01/2010,NaN,NaN,NaN,NaN,Bắc Giang,21
6,2,000005178402,Mai Phước Vinh,17/04/1980,NaN,Quảng Nam,52,079080013078,NaN,NaN,...,NaN,NaN,NaN,01/02/2009,NaN,NaN,NaN,NaN,Lạng Sơn,22
7,3,000005178202,Trịnh Thái Xiêm,23/06/1980,NaN,Tây Ninh,63,072080001551,NaN,NaN,...,NaN,NaN,NaN,05/04/2005,NaN,NaN,NaN,NaN,TP Hồ Chí Minh,23
8,4,000001491754,Đặng Phước Sang,22/07/1994,NaN,An Giang,50,089094008005,NaN,NaN,...,NaN,NaN,NaN,21/08/2020,NaN,NaN,NaN,NaN,Nghệ An,24
9,5,000005178296,Võ Duy Khanh,10/10/1988,NaN,Tây Ninh,63,079088016996,NaN,NaN,...,NaN,NaN,NaN,20/10/2012,NaN,NaN,NaN,NaN,Quảng Bình,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,441,000006556839,Phạm Thị Vân Anh,NaN,03/11/1991,Thái Bình,65,034191001750,NaN,NaN,...,NaN,NaN,NaN,01/10/2022,NaN,NaN,NaN,NaN,NaN,NaN
446,442,000006556837,Nguyễn Thị Lệ Quyên,NaN,09/11/1999,Quảng Nam,52,049199003742,NaN,NaN,...,NaN,NaN,NaN,01/10/2022,NaN,NaN,NaN,NaN,NaN,NaN
447,443,000006556842,Phạm Mỹ Trinh Trinh,NaN,23/11/1994,Sóc Trăng,59,365919385,NaN,NaN,...,NaN,NaN,NaN,01/10/2022,NaN,NaN,NaN,NaN,NaN,NaN
448,444,000006650148,Lê Thị Hồng Nhung,NaN,02/05/1991,Nghệ An,24,040191040090,NaN,NaN,...,NaN,NaN,NaN,26/10/2022,NaN,NaN,NaN,NaN,NaN,NaN
449,445,000006650149,Nguyễn Hửu Ngọc,19/10/1990,NaN,Bến Tre,60,321394757,NaN,NaN,...,NaN,NaN,NaN,26/10/2022,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
class QueryEmployee(BaseModel):
    length: int

app = FastAPI()

In [18]:
@app.get("/")
def read_root():
    return {"Papaya": "Success"}

@app.post("/imployee/query")
async def employee_query(data: QueryEmployee):
    length = data.length
    result =  main_data[length]
    return result

In [8]:
import json
length = 50
mapping_cols_swap = {v: k for k, v in mapping_cols.items()}

In [9]:
result =  main_data.iloc[:int(length)]
new_result = result.rename(columns=mapping_cols_swap)
new_result = new_result.reset_index(drop=True)
print(type(new_result))
new_result_js = json.loads(new_result.to_json(orient='records'))

<class 'pandas.core.frame.DataFrame'>

In [14]:
sum(new_result["ngaysinh_nam"].value_counts())
sum(new_result["ngaysinh_nu"].value_counts())

17

In [10]:
from copy import deepcopy
def split_gender_dob(input_json):
    process_json = deepcopy(input_json)
    for idx, each_record in enumerate(process_json):
        dob = None
        gender = None
        if each_record["ngaysinh_nu"] != None:
            dob =  each_record["ngaysinh_nu"]
            gender = "Female"
        if each_record["ngaysinh_nam"] != None:
            dob =  each_record["ngaysinh_nam"]
            gender = "Male"
        process_json[idx]["gioitinh"] = gender
        process_json[idx]["ngaysinh"] = dob
    return process_json

In [22]:
from copy import deepcopy
def position_tag(input_json):
    process_json = deepcopy(input_json)
    for idx, each_record in enumerate(process_json):
        dob = None
        gender = None
        if each_record["ngaysinh_nu"] != None:
            dob =  each_record["ngaysinh_nu"]
            gender = "Female"
        if each_record["ngaysinh_nam"] != None:
            dob =  each_record["ngaysinh_nam"]
            gender = "Male"
        process_json[idx]["gioitinh"] = gender
        process_json[idx]["ngaysinh"] = dob
    return process_json

In [23]:
test = split_gender_dob(new_result_js)

In [14]:
import pandas as pd
class LoginHandler():
    def __init__(self) -> None:
        self.excel_db = pd.read_excel("database/login_auth.xlsx")
    
    def login_request(self, user_name, password):
        result = self.excel_db[(self.excel_db["email"]==user_name) & (self.excel_db["password"]==password)]
        if len(result) > 0:
            user_id = result.iloc[0]["user_id"]
        else:
            user_id = None
        return user_id

In [15]:
loginHandler = LoginHandler()

In [19]:
print(loginHandler.login_request(user_name="test_account_03", password="test_password"))

user003

In [17]:
test_user = "luonghuuthanhnam5@gmail.com"
test_password = "luongnam01"
result = loginHandler.excel_db[(loginHandler.excel_db["email"]==test_user) & (loginHandler.excel_db["password"]==test_password)]

In [12]:
loginHandler.excel_db

   user_name                        email       password  user_id
0        NaN  luonghuuthanhnam5@gmail.com     luongnam01  user001
1        NaN              test_account_01  test_password  user002
2        NaN              test_account_01  test_password  user003

In [1]:
import event_db_handler
event_db_excel_path = "database/event/event_db.xlsx"
eventHandler = event_db_handler.EventHandler(event_db_excel_path)

In [2]:
event_data = eventHandler.get_table_names_in_event("73f3e2f7-370e-4b9c-aba3-c8b97f14f037")
event_data

['Bóng đá', 'Cầu lông']

In [25]:
import ast
selected_event_data = event_data["event_data"].values[0]
if type(selected_event_data) == str:
    print("F")
    selected_event_data = ast.literal_eval(selected_event_data)
selected_event_data["tables_data"]

F

[{'name': 'Bóng đá',
  'data': [{'key': '0',
    'Mã số': '...',
    'Tên': '...',
    'Vị Trí': '...',
    'Số Áo': '...'}]},
 {'name': 'Cầu lông',
  'data': [{'key': '0',
    'Mã số': '...',
    'Tên': '...',
    'giới tính': '...',
    'bộ môn': '...'}]}]

In [22]:
import ast
import re
string_list = x["pending_events"]["requesting_member_id"][0]
parsed_list = [int(num) if not re.match('^0+', num) else num for num in re.findall('\d+', string_list)]
print(parsed_list)

['079091006696', '072068001015', 19031998]

In [20]:
x["pending_events"]["requesting_member_id"][0]

'[079091006696, 072068001015, 19031998]'

In [19]:
import json
json.loads(x["pending_events"]["requesting_member_id"][0])

JSONDecodeError: Expecting ',' delimiter: line 1 column 3 (char 2)

In [17]:
list_id

[['['],
 ['0'],
 ['7'],
 ['9'],
 ['0'],
 ['9'],
 ['1'],
 ['0'],
 ['0'],
 ['6'],
 ['6'],
 ['9'],
 ['6'],
 [','],
 [' '],
 ['0'],
 ['7'],
 ['2'],
 ['0'],
 ['6'],
 ['8'],
 ['0'],
 ['0'],
 ['1'],
 ['0'],
 ['1'],
 ['5'],
 [','],
 [' '],
 ['1'],
 ['9'],
 ['0'],
 ['3'],
 ['1'],
 ['9'],
 ['9'],
 ['8'],
 [']']]

In [13]:
eventDBHandler.event_db["requesting_member_id"][0]

'[079091006696, 072068001015, 19031998]'

In [4]:
requesting_member_ideventDBHandler.event_db

,event_id,event_name,event_description,cover_img_link,event_start_date,event_end_date,requesting_member_id,accepted_member_id,rejected_member_id
0,event_0001,Hội thao 2023,Đây là mô tả của sự kiện hội thao năm 2023,https://bit.ly/3JlQRNM,05/04/2023,15/04/2023,"[079091006696, 072068001015, 19031998]","[079091006696, 072068001015, 19031998]",
1,event_0002,Văn nghệ 2023,Cuộc thi văn nghệ tổ chức vào dịp 30/4 - 1/5 2023,https://bit.ly/3mVfKbX,20/04/2023,25/04/2023,"[079091006696, 072068001015, 19031998]","[079091006696, 072068001015]",
2,event_0003,Sự kiện 2024,Đây là mô tả của sự kiện 2024,https://bit.ly/3JifVFI,20/12/2023,05/01/2024,"[072068001015, 19031998]",,[19031998]
3,event_0004,Demoday,"Demo dự án, cập nhật tiến độ",https://bit.ly/3Lqsxxc,20/03/2023,20/03/2023,[19031998],[19031998],